@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.wave {
  display: inline-block;
  animation: animate-wave 500ms infinite ease-in-out;
}
@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(0);
  }
}
